body
{
    background-color:#424242;
}

h1 {
	color:OrangeRed;
	font-size: 120px;
	font-family: "Helvetica Black", Helvetica, sans-serif;
	text-align: left;
	margin: 0;
}

a {
	color: #122601;
	font-weight: normal;
	font-family: "Helvetica", Helvetica, sans-serif;
	border-bottom: 2px white solid;
	padding: 0 0 2px 80px
	margin: 0;
}

p {
	color: White;
	font-family: "Helvetica", Helvetica, sans-serif;
	text-align: left;
	line-height: 150%;
	margin-top: 2px;
	margin-left: 80px;
}

div.red {
	color: Red;
	font-size: 200px;
	font-weight: bold;
	font-family: "Helvetica", Helvetica, sans-serif;
	text-align: right;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-indent: 0px;
}

div.green {
	color: Green;
	font-size: 200px;
	font-weight: bold;
	font-family: "Helvetica", Helvetica, sans-serif;
	text-align: right;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-indent: 0px;
}

div.white {
	color: LightGray;
	font-size: 200px;
	font-weight: bold;
	font-family: "Helvetica", Helvetica, sans-serif;
	text-align: right;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-indent: 0px;
}

div.off {
	color: SlateGray;
	font-size: 200px;
	font-weight: bold;
	font-family: "Helvetica", Helvetica, sans-serif;
	text-align: right;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-indent: 0px;
}

div.aqua {
	color: Aqua;
	font-size: 200px;
	font-weight: bold;
	font-family: "Helvetica", Helvetica, sans-serif;
	text-align: right;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-indent: 0px;
}

div.lights {
	color: LightYellow;
	font-size: 200px;
	font-weight: bold;
	font-family: "Helvetica", Helvetica, sans-serif;
	text-align: right;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-indent: 0px;
}

div.label {
	color: DarkGray;
	font-size: 160px;
	font-weight: bold;
	font-family: "Helvetica", Helvetica, sans-serif;
	text-align: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-indent: 0px;
}

.button {
	background-color: #424242;
	color: DarkGray;
	font-size: 160px;
	font-weight: bold;
	font-family: "Helvetica", Helvetica, sans-serif;
	text-align: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-indent: 0px;
}
